.Mainpage{
    display: flex;
    background-color: darkgray;
    }

div{
    text-align: center;
    color: #f71735;
}

body{
    display: flex;
    background-color: #090446;
    flex-wrap: wrap;
    justify-content: space-evenly;
}