.Mainpage{
    display: flex;
    background-color: darkgray;
    }

div{
    text-align: center;
    color: papayawhip;
}

body{
    display: flex;
    background-color: cornflowerblue;
    flex-wrap: wrap;
    justify-content: space-evenly;
}